name: bracken

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install bracken
        run: conda create -y -n bracken -c conda-forge -c bioconda bracken
      - uses: actions/checkout@v2
        with:
          repository: broadinstitute/viral-classify
          path: viral-classify
      - name: Staging
        run: |
          echo "${CONDA}/envs/kraken/bin" >> $GITHUB_PATH
          mv $GITHUB_WORKSPACE/viral-classify/test/input/TestMetagenomicsSimple/db ./
          mv $GITHUB_WORKSPACE/viral-classify/test/input/TestMetagenomicsSimple/*.fastq ./
      - name: Test bracken-build
        run: |
         bracken-build -h
         kraken2-build --build --db db
         bracken-build -d db
      - name: Test bracken
        run: |
         bracken -h
         kraken2 --db db --report report.txt *.fastq
         bracken -d db -i report.txt -o report.bracken
         grep "ebolavirus" report.bracken
