name: bracken

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: install bracken
        run: conda create -y -n bracken -c conda-forge -c bioconda bracken kraken2
      - uses: actions/checkout@v2
        with:
          repository: broadinstitute/viral-classify
          path: viral-classify
      - name: test bracken
        run: |
         export PATH=$CONDA/envs/bracken/bin:$PATH
         bracken-build -h
         bracken -h
         mv $GITHUB_WORKSPACE/viral-classify/test/input/TestMetagenomicsSimple/db ./
         mv $GITHUB_WORKSPACE/viral-classify/test/input/TestMetagenomicsSimple/*.fastq ./
         kraken2-build --build --db db
         bracken-build -d db
         kraken2 --db db --report report.txt *.fastq
         bracken -d db -i report.txt -o report.bracken
         cat report.bracken
         grep "root" report.bracken
