# This is a basic workflow to help you get started with Actions

name: kraken2

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: apt
        run:  sudo apt-get install --no-install-recommends tree 
      - name: install depends
        run: conda create -n kraken2 -c conda-forge -c bioconda kraken2
      # Checks-out kraken2 under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          repository: DerrickWood/kraken2
          path: kraken2
      - name: directory structure
        run: tree -d $GITHUB_WORKSPACE
      - name: test kraken2
        run: |
         export PATH=$CONDA/envs/kraken2/bin:$PATH
         export PATH=$GITHUB_WORKSPACE/kraken2/bin:$PATH
         cd $GITHUB_WORKSPACE/kraken2
         which kraken2
         which makeblastdb
         kraken2 --version
         kraken2 --help
